@media screen and (min-width: 992px) { 

	.auth {
		.info {
			position: fixed;
			width: 50%;
			top: 0;
			bottom: 0;
		}

		form {
		    width: 40%;
		}

		.login {
			.info {
				left: 0;
			}

			form {
			    margin: 0 0 0 55%;
			}
		}

		.registro {
			.info {
				right: 0;
			}

			form {
				margin: 0 0 0 5%;
			}
		}
	}
}

@media screen and (min-width: 1200px) { 
	.auth {

		form {
			width: 30%;
		}
		
		.registro {
			form {
				margin: 5% 0 5% 10%;
			}
		}

		.login {
			form {
				margin: 5% 0 5% 58%;
			}
		}
	}
}