@media screen and (min-width: 992px) { 

	header {

		h1 a.navbar-brand {
		    width: 105px;
		    height: 53px;
		}

		&:not(.is-home) + main {
			.main-wrapper {
				padding-top: 150px;
			}
		}
	}

	.navbar {
		padding: 0;

		ul {

			li {
				margin-left: 2.5rem;
			}
		}
	}
}
