@media screen and (min-width: 768px) {
	.modal {
		.modal-body {
			padding-top: 15px; 
		}

		.modal-content {
			.product-img {
				margin: 0;
			}

			h2 {
				margin: 0;
			}
			
			.product-info {
				padding-bottom: 50px;
			}

			.btn {
			    position: absolute;
			}
		}

		.confirm-modal { 
			.btn {
				margin-top: 0;
			}
		}
	}
}