.auth {
	min-height: 100vh;

	.info {
		min-height: 20vh;
		background-color: @pepper;
		width: 100vw;
		margin: 0 -15px;
	}

	form {
		margin: 25px 0 0;
		width: 100%;
	}

	.btn {
		display: block;
		width: 100%;
	}
}