.cart {
	padding-bottom: 5rem;

	.tabs-outline {
	    margin-bottom: 45px;
	}

	h2 {
	    font-size: 22px;
	    font-weight: 700;
	    margin-bottom: 15px;
	    letter-spacing: 1px;
	}

	.btn {
		min-width: 170px;
	}

	.update {
	    background: transparent;
	    border: 0;
	    width: 22px;
	    height: 22px;
	    padding: 0;
	    cursor: pointer;
	}

	.qnt {
		input[type="text"] {
			text-align: center;
			max-width: 60px;
			margin: 0 10px;
			border: 0;
			height: 35px;
		}

		a {
		    font-size: @large;
		    color: @ice;
		    background: @charcoal;
		    font-weight: bold;
		    display: block;
		    line-height: 25px;
		    width: 25px;
		    text-align: center;
		}

		button {
			margin-left: 15px;

			i {
				color: @charcoal;
				font-size: @x-regular;
			}
		}

		& + span {
			font-size: @small * 2;
			display: inline-block;
			vertical-align: middle;
		}
	}

	.empty-cart {
		img {
			height: 70vh;
			margin: 25px auto;
			display: block;
		}
	}

	.not-logged-in {
		a,
		span {
		    text-align: center;
		}
	}

	.address {
		.btn {
			min-width: inherit;
			padding: 0 25px;
			font-size: @small - 1;
		}
	}

	.add-address {
		margin-top: 50px;
	}

	.select-time {	
		h3 {
			margin-bottom: 15px;
		}
	}

	.times {
		padding: 0;
		margin: 0;
		list-style: none;

		li {
			width: 33%;
			margin-bottom: 15px;
		}

		a {
			color: #333;
			border-bottom: 1px solid #c3c3c3;
			font-weight: 400;
			display: inline-block;
			width: 100%;
			height: 30px;
			line-height: 30px;
			text-align: center;
			transition: 0.3s;

			&:hover {
				opacity: 0.8;
				text-decoration: none;
			}

			&.disabled {				
				opacity: 0;
				pointer-events: none;
			}

			&.active {
				background: @pepper;
				border: 0;
				color: white;
			}
		}
	}

	.payment {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		li {
			margin: 20px 0;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.last-step {
	.ok {
		font-size: 15px;
		line-height: 150%;
		padding: 25px 0 45px;
		max-width: 80%;
		margin: 0 auto;
	}
}


@import url(../tablet/card.less);