.why-radiko {
	background: url(../images/porque-radiko-bg.jpg) no-repeat top right @charcoal;
	background-size: cover;
	min-height: 40vh;
    max-height: 590px;
    background-attachment: fixed;

	h2 {
		color: @ice;
		text-transform: none;
		font-size: @x-regular * 2;
		margin: 0 auto 1.5rem;
		text-shadow: 3px 3px 0 @charcoal;
	}
}

.download-app {
	background: @pepper;
	color: @ice;

	& > div {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	/*& > div:after {
		content: '';
	    background: url(../images/mockup.png) top center no-repeat transparent;
	    width: 345px;
	    height: 505px;
	    position: absolute;
	    right: 5%;
	    bottom: 0;
	}*/

	h2 {
		font-size: @x-regular * 2;
		font-weight: bold;
		text-shadow: 3px 3px 0 @pepper-dk;
		letter-spacing: 2px;
	}

	p {
		font-size: @large;
		margin: 1.5rem 0 2rem;
	}
}