.top {
	padding-bottom: 15px;
	border-bottom: 1px solid @grey-md;
	margin-bottom: 45px;

	h2 {
		font-size: @large + 2;
		margin: 25px 0 0;
	}
}

.huerta-productos {
	.card {
		width: 100%;
	}
}

.huerta-detalle {
	.sidebar-filtros,
	.tabs-outline {
		margin-top: 30px;
	}
}

.header-huerta {
	background-attachment: fixed;
	margin: -40px -15px 30px;
	padding: 65px 0;
	text-align: center;
	color: @ice;
	
	.diagonal {
		width: 100%;
	}
}

@import url(../tablet/huertas.less);