.user-info {
	margin-bottom: 20px;
	margin-top: 45px;

	ul {
		padding: 10px 0;
	    border-top: 1px solid #ddd;
	    border-bottom: 1px solid #ddd;
	    margin-bottom: 10px;
	}
}

.orders {
	
	li {
		position: relative;
		
		a {
			position: absolute;
			bottom: 15px;
			right: 15px;
		}
	}	
}