.search {
	background-color: @tomato;
	color: @ice;
	padding: 5rem 0 1rem;
	margin-bottom: 4rem;

	.logo {
		background: url(../images/logo.png) no-repeat 0 0 transparent;
		display: block;
		width: 195px;
		height: 100px;
		margin: 0 auto 30px;
		background-size: 100%;
	}

	.form {
		position: relative;
		max-width: 480px;
		margin: 0 auto;

		input {
			padding: 0 15px;
			line-height: 60px;
			height: 60px;
		}

		.btn-search {
			font-size: 20px;
			position: absolute;
			right: 15px;
			top: 15px;
			color: @charcoal-lg;	
			background: transparent;
			border: 0;
			outline: none;
			box-shadow: none;
			cursor: pointer;		
		}
	}
}

.search-sm {
	margin-bottom: 25px;
	
	.btn-search {
		background: transparent;
		border: 0;
		font-size: @large;
		color: @charcoal-lg;
		position: absolute;
		right: 0;
		top: 10px;
	}
}

@import url(../tablet/search.less);