@import url('variables.less');

.section {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid @grey-lg;
}

.color-column {
    width: 100%;
    font-weight: 500;
    margin-bottom: 25px;
}

.color {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;

    & + p {
   		display: inline-block;
    	vertical-align: middle;
    	width: 100%;
		padding-left: 70px;
		margin-left: -55px;
		margin-bottom: 0;
    }
}

h2,
h3,
h4,
.link {
	margin-bottom: 2rem;
}

.botones {
	.btn {
		margin-bottom: 25px;
		min-width: 190px;
	}
	
	.btn-wrapper {
		min-height: 90px;
	}

	i {
		font-size: 30px;
	}
}

.icon-wrapper {
	min-height: 60px;
	margin-bottom: 30px;
}

.grid-masonry { 
	padding: 0 0 15px 0;
}

.card {
	margin-bottom: 1.5rem;
}

.nav-tabs {
	margin-bottom: 55px;
}

@media screen and (min-width: 768px) {
	.color-column {
	    width: 33%;
	}
}

@media screen and (min-width: 992px) {
	.color-column {
	    width: 20%;
	}
}

@media screen and (min-width: 1200px) {
	.icon-wrapper {
		-ms-flex-pack: center;
		justify-content: center;
	}
}