.link {
	color: @charcoal;
	font-weight: 600;
	display: inline-block;

	i[class*="left"] {
		margin-right: 10px;
	}

	i[class*="right"] {
		margin-left: 10px;
	}

	&:hover {
		color: @charcoal;
		text-decoration: none;
	}
}

.link-simple {
	color: @grape;

	&:hover {
		color: @grape;
	}
}

.link-back,
.link-fwd {
	display: inline-block;
    margin-bottom: 15px;
	color: @pepper;
    font-size: 14px;
    -webkit-transition: .2s all;   
    -webkit-transition-delay: .2s; 
    -moz-transition: .2s all;   
    -moz-transition-delay: .2s; 
    -ms-transition: .2s all;   
    -ms-transition-delay: .2s; 
    -o-transition: .2s all;   
    -o-transition-delay: .2s; 
    transition: .2s all;   
    transition-delay: .2s; 

    &:hover {
    	color: @corn-dk;
    	cursor: pointer;
    	-webkit-transition-delay: 0.1s;
	    -moz-transition-delay: 0.1s;
	    -ms-transition-delay: 0.1s;
	    -o-transition-delay: 0.1s;
	    transition-delay: 0.1s;
    }
}

.link-back {
 	&:before {
		font-family: "Font Awesome 5 Pro";
	   	content: "\f0d9";
	   	display: inline-block;
	   	padding-right: 3px;
	   	vertical-align: middle;
   		font-weight: 900;
		margin-right: 5px;
	}
}

.link-fwd {
	&:after {
		font-family: "Font Awesome 5 Pro";
	   	content: "\f0da";
	   	display: inline-block;
	   	padding-left: 3px;
	   	vertical-align: middle;
   		font-weight: 900;
		margin-right: 5px;
	}
}



.btn {
	color: @ice;
	border-radius: 0;
	border: 0;
	text-transform: uppercase;
	font-weight: 500;
	padding: 0 15px;
	letter-spacing: 1px;

	&:focus {
		box-shadow: none;
	}
}

.btn-primary {
	background-color: @pepper;
	border-bottom: 3px solid @pepper-dk;

	&:hover,
	&.active,
	&:focus {
		background-color: @pepper;
		border-bottom: 3px solid @pepper-dk;
	}
}

.btn-primary:not(:disabled):not(.disabled):active, 
.btn-primary:not(:disabled):not(.disabled).active, 
.show > .btn-primary.dropdown-toggle,
.btn-primary:not(:disabled):not(.disabled):active:focus, 
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
	box-shadow: none;
	background-color: @pepper;
	border-bottom: 3px solid @pepper-dk;
}

.btn-secondary {
	background-color: @tomato;
	border-bottom: 3px solid @tomato-dk;

	&:hover,
	&.active,
	&:focus {
		background-color: @tomato;
		border-bottom: 3px solid @tomato-dk;	
	}
}

.btn-secondary:not(:disabled):not(.disabled):active, 
.btn-secondary:not(:disabled):not(.disabled).active, 
.show > .btn-secondary.dropdown-toggle,
.btn-secondary:not(:disabled):not(.disabled):active:focus, 
.btn-secondary:not(:disabled):not(.disabled).active:focus, 
.show > .btn-secondary.dropdown-toggle:focus {
	box-shadow: none;
	background-color: @tomato;
	border-bottom: 3px solid @tomato-dk;	
}

.btn-terciary {
	background-color: @grape;
	border-bottom: 3px solid @grape-dk;

	&:hover,
	&.active,
	&:focus {
		background-color: @grape;
		border-bottom: 3px solid @grape-dk;
	}
}

.btn-small {
	line-height: 45px;
	height: 45px;
	font-size: @small;
}

.btn-medium {
	line-height: 50px;
	height: 50px;
	font-size: @regular;
	min-width: 220px;
}

.btn-large {
	line-height: 60px;
	height: 60px;
	font-size: @regular;
}

@media screen and (max-width: 767px) {
	.btn {
		width: 100%;
	}
}