body {
	font-size: @small;
	background: @ice;
	color: @charcoal;
	font-family: @primary-font;
}

.main-wrapper {
    background: @ice;
    height: 100%;
    min-height: 100vh;
    z-index: 1;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.8);
}

a,
button {
	transition: 0.3s;

	&:hover {
		outline: none;
		text-decoration: none;
		opacity: 0.95;
	}
}

.no-border {
	border: 0!important;
}

.relative {
	position: relative;
}

.static {
	position: static;
}

.download-btn  {
	width: 285px;
	margin: 0 auto;

	img {
	    width: 165px;
	    height: auto;
	}
}

.social {
	margin-top: 2rem;
	
	li {
		margin: 0 15px;
		font-size: @x-regular;
	}
}

.bg-trama {
	background-image: url(../images/trama.png);
	background-repeat: repeat;
}

.bg-trama-b {
	background-image: url(../images/trama-b.png);
	background-repeat: repeat;
}

.small-height {
	padding-bottom: 5rem;
}

/*  Estrellitas para las reviews   */

.stars {
	i {
		font-size: @x-small - 1;
		margin-right: 3px;
	}
}

/*  Contacto  */

.contact {
	padding-bottom: 6rem;

	h2 {
		margin-bottom: 1rem;
	}

	i {
		margin-right: 10px;
	}
}