// Textos: Titulares, parrafos y variantes

h2,
h3,
h4 {
	text-transform: uppercase;
	font-weight: 600;
}

h2 {
	font-size: @small * 2;
}

h3 {
	font-size: @x-small * 2;
}

h4 {
	font-size: @x-regular + 2;
}


.bold {
	font-weight: 700;
}

.semi-bold {
	font-weight: 600;
}

.italic {
	font-style: italic;
}

.light {
	color: @charcoal-lg;
}

// Listas

.simple-list {
	list-style: none;
	padding: 0;
	margin: 10px 0 0 0;

	li {
		margin: 10px 0;
		font-size: @regular;
	}
}